:root, html[data-theme='light']{
	--lighter: #36393f;
	--dark: #2f3136;
	--darker: #202225;
	--accent: #5865F2;
	--white: #ffff;
}

html[data-theme='dark']{
	--accent: /* your dark color 1 */ ;
	--dark: /* color 2 */;
	--light: /* color 3 */;	
}
*{
	scroll-behavior: smooth;
}
.material-symbols-rounded {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
/*==============================*/
.sidebar{
	height:100vh;
	width:5rem;
	flex-direction: column;
  align-content: center;
  align-items: center;
  display: flex;
	background: var(--darker);
	justify-content: flex-start;

}
.solid {
	display: block;
	width:40%;
  border-top:2px solid var(--lighter);
  color: var(--lighter);
  border-color: var(--lighter);
}
.logo{
	transition: 0.1s;
	border-radius: 100%;
	background: var(--lighter);
}
.logo:hover::before{
	animation: fade .1s;
  position: absolute;
  content: '';
  width:3px;
  height: 1.5rem;
  border-radius:0 3px 3px 0;
  left: 0;
  background: var(--white);
}
.logo:hover::after{
	padding:1rem;
	background: black;
	border-radius: 10px;
	color: var(--white);
	position: absolute;
	left:6rem;
	content:"Direct Messages";
}
.logo:focus-within::before{
	animation: fade .1s;
  position: absolute;
  content: '';
  width:3px;
  height: 2rem;
  border-radius:0 3px 3px 0;
  left: 0;
  background: var(--white);
}
.logo:focus-within{
	background: var(--accent);
	border-radius:35%;
}
@keyframes fade {
	from{transform: scale(0, 0);}
	to{transform: scale(1, 1);}
}
.logo:hover{
	background: var(--accent);
	border-radius:35%;
	transition: 0.1s;
}
.sidebar li{
	width: 1.2vw;
	height: 1.2vw;
	padding: 1vw;
	margin: 1vw;
}
.logo img{
	width: 100%;
	height: 100%;
}